#bounds {
    width:360px;
    height:780px;
    border:1px solid black;
    margin: auto;
}

#hero {
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width:340px;
    height:400px;
    border: 1px solid black;
}
#name {
    display:flex;
    margin: 20px auto;
    height: 40px;
    width: 250px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.button { 
    padding:15px 50px 15px 50px;
    margin:25px;
}

.miniButton {
    padding:0 ;
    margin-left:-80%;
}

#buttonCase, #hiddenCase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    margin: 10px;
    height: 350px;
    border: 1px solid black;
}

#dayTrack {
    align-self: flex-start;
    margin-left: 10px;
}

#hiddenCase {
    display: none;
    gap:5px;
}