html, body {
    background-color: #eae2b7;
}
body{
    display: flex;
    align-items: center;
    height:100vh
}
#bounds {
    width:360px;
    height:780px;
    border:1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #d62828;
    border-radius: 10px;
}

#hero {
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width:340px;
    height:400px;
    border: 1px solid black;
    border-radius: 10px;
}

#heroImg {
    height: 350px;
}

#name {
    display:flex;
    margin: 20px auto;
    height: 40px;
    width: 250px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: #fcbf49;
    border-radius: 10px;
}
.button { 
    padding:15px 50px 15px 50px;
    margin:25px;
    background-color: #fcbf49;
    border-radius: 10px;
}

.miniButton {
    padding:0 ;
    align-self: flex-start;
    margin-top: auto;
    margin-left:5%;
    margin-bottom: 5%;
    background-color: #fcbf49;
    border-radius: 5px;
}

#buttonCase, #hiddenCase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    margin: 10px;
    height: 350px;
    border: 1px solid black;
    border-radius: 10px;
}

#dayTrack {
    align-self: flex-start;
    margin-left: 10px;
    color: #fcbf49;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 
}

#hiddenCase {
    display: none;
}