html, body {
    font-family: TASA Explorer;
}

input[type='submit'] {
    font-family: TASA Explorer;
}

#helpCreateHeader {
    text-align: center;
}

#hiddenCase {
    display: none;
}

#navCase {
    display: flex;
    justify-content: space-between;
}

#hiddenTextarea {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top:auto;
}

#textArea {
    height:120px;
    width: 300px;
    margin:5%;
    background-color: transparent;
    border-radius: 10px;
    border:3px solid black;
    outline: 0px;
    padding: 5px;
}

#plus, #check, #back {
    height: 75px;
    width: 75px;
    margin: 10px; 
    border-radius: 25%;
    background-color:#fcbf49;
}
#check{
    /* margin-left: 60px; */
    display: none;
    justify-content: center;
    align-items: center;
}
#back {
    padding: 8px;
    border-radius: 25%;
}

input[type='submit'] {
    border-radius: 10%;
    background-color:#fcbf49;
}

input[type='checkbox'] {
    accent-color:#fcbf49
}


#spacer {
    flex-grow: 1;
}

#textWall {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:large;
    text-transform: capitalize;
}

.moveGroup {
    border: 1px solid black;
    display: flex;
    width:95%;
    border-radius:10px;
    padding:5px;
    font-size:medium;
    flex-direction: column;
    margin-top: 2px;
    font-weight: 400;
}

.groupName {
    font-size: large;
    font-weight: 500;
    margin:0;
    padding:0;
}

.exerciseLine {
    display:flex;
    align-self: center;
    justify-self: auto;
    margin: 2px
}

.help-create {
    margin-top: 250px;
    text-align: center;
    font-family: TASA Explorer;
    font-weight: 400;
}

#helpCreateP {
    margin:0;
    padding-top: 1px;
    align-self: center;
    display:none
}

#bounds {
    width:360px;
    height:780px;
    border:1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #d62828;
    border-radius: 10px;
}

#actionForm {
    align-self: center;
}