#helpCreate {
    text-align: center;
}

#hiddenCase {
    display: none;
}

#navCase {
    display: flex;
    justify-content: space-between;
}

#hiddenTextarea {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top:auto;
}

#textArea {
    height:150px;
    width: 300px;
    margin:5%;
    background-color: transparent;
    border-radius: 10px;
    border:3px solid black;
    outline: 0px;
    padding: 5px;
}

#plus {
    height: 75px;
    width: 75px;
    margin: auto 10px 10px auto; 
    border-radius: 50%;
    align-self:flex-end;
    background-color:#fcbf49;
}

#back {
    margin-left: 5%;
    margin-top :auto;
    margin-bottom: auto;
}

#spacer {
    flex-grow: 1;
}

#textWall {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:x-large;
    text-transform: capitalize;
}

.moveGroup {
    border: 1px solid black;
    display: flex;
    width:95%;
    border-radius:10px;
    padding:5px;
    font-size:medium;
    flex-direction: column;
    margin-top: 2px;
    font-weight: 400;
}

.groupName {
    font-size: small;
    font-weight: 700;
    margin:0;
    padding:0;
}

.exerciseLine {
    display:flex;
    align-self: center;
    justify-self: auto;
}

.help-create {
    text-align: center;
}

#helpCreateP {
    padding-top: -2px;
    text-align: center;
}

#bounds {
    width:360px;
    height:780px;
    border:1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #d62828;
    border-radius: 10px;
    /* text-align: center; */
}
/* 
#bounts>#helpCreateP {
    justify-content: center;
} */
