html, body {
    background-color: #eae2b7;
}
#bounds {
    width:360px;
    height:780px;
    border:1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #d62828;
}

#hero {
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width:340px;
    height:400px;
    border: 1px solid black;
}
#name {
    display:flex;
    margin: 20px auto;
    height: 40px;
    width: 250px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: #fcbf49;
}
.button { 
    padding:15px 50px 15px 50px;
    margin:25px;
    background-color: #fcbf49;
}

.miniButton {
    padding:0 ;
    align-self: flex-start;
    margin-top: auto;
    margin-left:5%;
    margin-bottom: 5%;
    background-color: #fcbf49;
}

#buttonCase, #hiddenCase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    margin: 10px;
    height: 350px;
    border: 1px solid black;
}

#dayTrack {
    align-self: flex-start;
    margin-left: 10px;
    color: #fcbf49;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; 
}

#hiddenCase {
    display: none;
}

#navCase {
    display: flex;
    justify-content: space-between;
}

#hiddenTextarea {
    display: none;
    justify-content: center;
    margin-top:auto;
}

#textArea {
    height:150px;
    width: 300px;
    margin:5%;
}

#plus {
    height: 75px;
    width: 75px;
    margin: auto 10px 10px auto; 
    border-radius: 50%;
    align-self:flex-end;
    background-color:#fcbf49;
}

#back {
    margin-left: 5%;
    margin-top :auto;
    margin-bottom: auto;
}

#spacer {
    flex-grow: 1;
}

#textWall {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:x-large;
    text-transform: capitalize;
}